@model IEnumerable<ShopOnlineConnection.GioHang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<form>
    <!--<input type="Text" placeholder="Nhập" required /> -->
</form>
<hr style="height:40px;" />
@foreach (var item in Model)
{
    // từ bên shop.details . Gửi ma san pham , ten san pham va gia san pham
    // tu db lay len so luong . soluong * gia ra tien . Cong tat ca tien ra tong tien
    <div class="row">
        <div class="product well">
            <div class="col-md-3">
                <div class="image">
                    @Html.Partial("_AvartaDetails", DoAn_ShopOnline.Models.BUS.ShopOnlineBUS.LoadAvartaImg(item.MaSanPham.ToString()))
                </div>
            </div>
            <div class="col-md-9">
                <div class="caption">
                     @Html.Partial("_GioHang", DoAn_ShopOnline.Models.BUS.ShopOnlineBUS.ChiTiet(item.MaSanPham.ToString()))
                     <label>Số lượng : </label> <span>@item.SoLuong</span> <br />
                    <span>Tổng tiền : @item.TongTien</span>
                    <hr>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

}

